<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Template</title>
</head>
<body>
  <h1>Hi {{name}},</h1>

  <p>Good news! Your question on BuddyKnows has just been answered. Click the link below to view the response:</p>

  <p>
    <a href="{{linkToQuestion}}" style="color: #1a73e8; text-decoration: none;" target="_blank">{{linkToQuestion}}</a>
  </p>

  <p>Thanks for being a part of the BuddyKnows community!</p>

  <p>Best regards,<br>The BuddyKnows Team</p>
</body>
</html>
